/* Formatear moneda */
.usd::before {
    content: '$';
}
.pen::before {
    content: 'S/';
}
.cop::before {
    content: '$';
}
.currency::after{
    content: '.00';
}
/* Subrayado animado */
h1 {
    display: table;
}
h1::after {
    content: '';
    display: block;
    height: 3px;
    background-color: red;
    transform: scale(0,1);
    transition:  .25s;
}
h1:hover::after{
    transform: scale(1,1);
}
/* Aspect radio */
.box {
    background: red;
    margin: 5%;
    width: 70%;
}
.box::before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}
/* Corazón */
body {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}
.heart,
.heart::before,
.heart::after {
    width: var(--size);
    height: var(--size);
    background: var(--color);
}
.heart {
    --size: 200px;
    --color: blue;
    transform: rotate(45deg);
}

.heart::before, .heart::after {
    content: '';
    display: block;
    border-radius: 50%;
    margin-top: calc(var(--size) * -0.5);
}
.heart::after {
    margin-left: calc(var(--size) * -0.5);
}